body {
	margin: 50px 10%;
}

h1 {
	font-size: 2.5rem;
	color: darkgreen;
}

table {
	margin: 20px 5%;
}
table, th, td {
	border: 1px solid #bbb;
}
.finish {
	width: 100px;
}
.text {
	width: 500px;
}
.deadline {
	width: 200px;
}
